@import "partials/reset";
@import "partials/config";
@import "partials/button";
@import "partials/typo";
@import "partials/cards";
@import "partials/header_footer";
@import "partials/section";
@import "partials/contact";
