header,
footer {
  background-color: $dark;
  color: $ultra-light;
  min-height: 10%;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}
#hgroup {
  float: left;
  h1 {
    color: $color;
    font-size: 2em;
    line-height: 1em;
  }
  p {
    font-style: italic;
  }
  @include small-screen {
    float: none;
    text-align: center;
  }
}
#search {
  float: right;
  margin-top: 0.75em;
  position: relative;
  input {
    font-family: $body-font;
    font-size: 1.25rem;
    height: 2rem;
    width: 10rem;
    box-sizing: border-box;
    border: none;
    background-color: $ultra-light;
    color: $dark;
    float: left;
    padding: 0;
  }
  button {
    box-sizing: border-box;
    padding: 0;
    border: none;
    font-size: 0;
    float: left;
    width: 2rem;
    background-color: transparent;
    &::after {
      background-image: url("img/search.png");
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
  }
  @include small-screen {
    float: none;
    width: 12rem;
    margin: 1rem auto 0;
  }
}
