#presentation,
#production,
#contact {
  color: $ultra-light;
  background-color: #000;
  background-size: cover;
  min-height: 90%;
  box-sizing: border-box;
}
$sections: "presentation", "production", "contact";
@each $section in $sections {
  #section-#{nth($section, $i)} {
    background-image: url("img/bg-" + nth($section, $i) + ".png");
  }
}
#description {
  max-width: 22rem;
  @include large-screen {
    max-width: 48%;
  }
}
